.palette {
  background: rgb(143, 163, 180);
  margin-top: -3%;
}

@media (max-width:425px) {
  .palette {
    margin-top: 0;
  }
}

@media (height:1024px) {
  .palette {
    margin-top: 0;
  }
}

.palette input {
  margin-right: 3%;
}