.template {
  display: table;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-top: 4rem;
  width: 40rem;
  height: 47rem;
  background: aliceblue;
  border-radius: 20px;
}

.creator {
  border-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 5rem;
  background: rgb(143, 163, 180);
}